html {
    background: crimson;
}
body{
font-family: 'Times New Roman', Times, serif;
margin: 40px;
padding: 40px;
color: #242424;
border-top: 10px solid #242424;
border-bottom: 15px solid #242424;
background: #fff;
}
.TitleNav {
background: #fff;
position: sticky;
top: 0;
}
h1 {
font-size: 4em;
margin: 0;
}
p {
line-height: 1.4em;
}
#blog {
border-top: 1px dotted #ccc;
}
.blog-post {
margin-top: 150px;
}
a[title]{
    color: crimson;
    font-weight: bolder;
}
h2 {
font-size: 2.5em;
font-weight: bold;
color: crimson;
}
.date-posted {
    font-style: italic;
    color: darkred;
    opacity: .5;
    padding: 20px;
}
.author {
    font-weight: bold;
    text-decoration: underline overline;
    border-bottom: 3px dotted #ccc;
}
.KK_image {
    height: 8px;
    width: 8px;
    float: left;
    margin: 20px;
    padding-right: 10px;
}
.ContactP {
    display: flex;
    padding-bottom: 10px;
}

@media (max-width: 800px) {
    p {
        font-style: italic;
        color: purple;
        font-weight: lighter;
    }
    .TitleNav {
        font-weight: bold;
        height: auto;

    }
}
.image {
    width: 400px;
}